[submodule "ext/kiero"]
	path = ext/kiero
	url = https://github.com/MatVeiQaaa/kiero.git
[submodule "ext/minhook"]
	path = ext/minhook
	url = https://github.com/MatVeiQaaa/minhook.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui
[submodule "ext/LR2Mem"]
	path = ext/LR2Mem
	url = https://github.com/MatVeiQaaa/LR2Mem.git
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json.git
[submodule "ext/PicoSHA2"]
	path = ext/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2.git
